*{
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

h1{
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 1000px;
}

div{
    margin-bottom: 50px;
    font-size: 20px;
}

table, th, tbody, tr, td{
    border: solid 1px;
    width:900px
}

